@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
    @apply font-bold uppercase;
  }

  .h1 {
    @apply text-white text-7xl lg:text-[128px] tracking-[-3px];
  }

  .h2 {
    @apply text-[36px];
  }

  .h3 {
    @apply text-[32px];
  }

  .h4 {
    @apply text-[26px];
  }

  .h5 {
    @apply text-[22px];
  }
}

@layer components {
  .active {
    color: #d4000d;
  }

  /* swiper pagination */
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #d4000d;
  }
}
